{% extends "base.html.twig" %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Bot</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if pid != false %}
                    <span class="badge bg-success">running (PID: {{ pid }})</span>
                {% else %}
                    <span class="badge bg-danger">not running</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Log</h3>
                <textarea cols="30" rows="10">{{ log }}</textarea>
            </div>
            <div class="col">
                <h3>Error</h3>
                <textarea cols="30" rows="10">{{ error }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/start" class="btn btn-primary mb-3">Start</a>
            </div>
            <div class="col">
                <a href="/stop" class="btn btn-danger mb-3">Stop</a>
            </div>
        </div>
    </div>


{% endblock %}

