{% extends "base.html.twig" %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hello, world!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Log</h2>
                <textarea cols="30" rows="10">{{ log }}</textarea>
            </div>
            <div class="col">
                <h2>Error</h2>
                <textarea cols="30" rows="10">{{ error }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/start" class="btn btn-primary mb-3">Start</a>
            </div>
            <div class="col">
                <a href="/stop" class="btn btn-danger mb-3">Stop</a>
            </div>
        </div>
    </div>


{% endblock %}

